<div class="container">
<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.category %></h3>
<h4><%= @restaurant.phone_number %></h4>

<h2>Reviews</h2>
<p>list of reviews...</p>
<% @reviews.each do |review| %>
<li><%= review.content %> - <%= '👽'*review.rating %></li>
<% end %>

<%= link_to "List of All Restos", restaurants_path %>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>

</div>
